.heart-icon:hover {
  cursor: pointer;
}

.item-img img {
  width: 100%;
  height: auto;
}

#logo-div img {
  width: 10%;
  height: auto;
}

#items {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20px;
}

.item-like:hover {
  cursor: pointer;
}

.show {
  border-radius: 10px;
  top: 5%;
  left: 30%;
  width: 70vw;
  height: 90vh;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-top: 20px;
  background-color: grey;
}

#popup-comment {
  display: none;
}
