.heart-icon:hover {
    cursor: pointer;
}

#items {
    margin-left: 10vw;
    margin-right: 10vw;
}

.item-img img {
    width: 100%;
    height: auto;
}

.item-like:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 20px;
    background-color: grey;
}